a
              {  color:#E28383;
              text-decoration:none;
              
              }
              
     a:hover {color:blue;
     
     
     }
     
     h3.a1 a 
     
     {color: red;}
     
     h3.a1 a:hover {color:blue;